@charset 'utf-8';
@import 'reset.scss';
@import 'mixin.scss';
// S 公共变量
$borderBox: border-box;
$white: #fff;
$block: block;
// E 公共变量

body {
  background-color: #ffe3cc;
  font-size: 1.6rem;
  overflow-x: hidden;
  padding: 0 1rem;
}

// S 顶部区域
.header_wrap {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.4rem;
    margin-bottom: 1.1rem;

    h1 {
      width: 8.1rem;
      height: 2.5rem;

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: url('../assets/images/foodblog_logo.png') no-repeat 0 0/contain;
        // text-indent只能作用在块级元素上
        text-indent: -9999rem;
      }
    }
  }

  //searchbar
  .searchbar_wrap {
    width: 23rem;
    text-align: right;
    vertical-align: middle;

    input#searchbar {
      padding: .5rem;
      height: 2rem;
      background-color: #f2f3f7;
      box-sizing: $borderBox;
      @include onePixelBorder(.1rem, solid, #f0c3b8);
      color: #b8b7b7;
      font-size: .9rem;

      // 当在2倍屏时，可能会出现视觉上像2px的边框
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border: .05rem solid #f0c3b8;
      }

      // 获取焦点改变背景颜色
      &:focus {
        background-color: $white;
        color: #000;
      }
    }

    i.icon-search {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-color: #cf9687;
      color: #f6d4bf;
      font-size: 1rem;
      text-align: center;
      line-height: 2em;
    }
  }
}

// E 顶部区域

// S 内容区域
.main {
  display: grid;
  grid-template-columns: [c1] 5.6rem [c2] 69.9rem [c3];
  grid-column-gap: 1rem;
  // 为了开发方便暂时给一个高度
  grid-template-rows: repeat(1, 68.5rem);
  padding-bottom: .9rem;

  // S 左边模块
  .main_left {
    nav {
      .aside_list {
        display: grid;
        grid-row-gap: .5rem;

        // S 左边导航条的公共
        li {
          width: 5.6rem;
          background-color: #e3b7a6;

          a {
            color: #33211f;
          }
        }

        // E 左边导航条的公共

        li.all_recipes,
        li.meal_type,
        li.ingredients,
        li.tags {
          height: 5.2rem;

          a {
            display: $block;
            height: inherit;
            text-align: center;
            font-size: .8rem;
            box-sizing: $borderBox;
            overflow: hidden;

            i {
              display: $block;
              width: 1.5rem;
              height: 1.5rem;
              margin: 1.2rem auto 0;
            }

            span {
              display: $block;
              width: 3.5rem;
              // 将字母转换为大写字母
              text-transform: uppercase;
              @include eliipsis;
              margin: .5rem auto 0;
            }
          }

          // 选中项
          &.current_item {
            background-color: #33211f;

            a {
              color: $white;
            }
          }

        }

        // 其它
        li.other {
          height: 45.4rem;

          // 其余链接
          .other_lis {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            text-align: center;

            li {
              a {
                display: block;
                width: 3rem;
                @include onePixelBorder(.15rem, solid, #674e47);
                border-radius: .6rem;
                box-sizing: $borderBox;
                color: #674e47;
                padding: .2rem;
                margin: 0 auto;

                i {
                  margin-top: 0;
                }
              }

              &:not(:last-of-type) {
                margin-bottom: 2rem;
              }
            }
          }


        }
      }
    }
  }

  // E 左边模块

  // S 右边区域
  .main_right {
    display: grid;
    grid-template-columns: [m_r_1] 23rem [m_r_2] 1fr [m_r_3] 23rem [m_r_4];
    grid-template-rows: repeat(6, 11rem);
    grid-template-areas:
      'a b c'
      'a d d'
      'a d d'
      'a d d'
      'a d d'
      'a e f';
    gap: .4rem .6rem;

    div {
      background-color: orange;
    }


    div.span2 {
      grid-area: d;
    }

  }

  // E 右边区域
}

// E 内容区域