@charset 'utf-8';

// 实现移动端1px边框
@mixin onePixelBorder($size, $type, $color) {
  border: $size $type $color;
  -webkit-border: $size $type $color;
  -moz-border: $size $type $color;
  -ms-border: $size $type $color;
  -o-border: $size $type $color;
}

// 文字超出 以...进行显示
@mixin eliipsis {
  // 文字超出部分，以...显示
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}