@charset "UTF-8";
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
dl,
ol {
  list-style: none;
}

img,
fieldset,
input[type=submit] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=button] {
  cursor: pointer;
  border: 0 none;
}

a,
button,
input,
img {
  -webkit-touch-callout: none;
}

img {
  pointer-events: none;
  /*禁止图片的点击事件，例如长按保存图片*/
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

html,
body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 针对移动端 */
html {
  height: 100%;
  width: 100%;
  font-family: "Heiti SC", "Microsoft YaHei";
  outline: 0;
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
body {
    font-size: 16.875px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
body {
    font-size: 12.5px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
body {
    font-size: 11.25px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
body {
    font-size: 9.375px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
body {
    font-size: 8.4375px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
body {
    font-size: 7.5px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
body {
    font-size: 6.46875px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
body {
    font-size: 6.25px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
body {
    font-size: 5.859375px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
body {
    font-size: 5.625px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
body {
    font-size: 5px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
body {
    font-size: 3.75px;
  }
}
body {
  background-color: #ffe3cc;
  font-size: 1.6rem;
  overflow-x: hidden;
  padding: 0 1rem;
}

section.layout {
  width: 76.8rem;
  margin: 0 auto;
}

.header_wrap header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;
  margin-bottom: 1.1rem;
}
.header_wrap header h1 {
  width: 8.1rem;
  height: 2.5rem;
}
.header_wrap header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../assets/images/foodblog_logo.png") no-repeat 0 0/contain;
  text-indent: -9999rem;
}
.header_wrap .searchbar_wrap {
  width: 23rem;
  text-align: right;
  vertical-align: middle;
}
.header_wrap .searchbar_wrap input#searchbar {
  padding: 0.5rem;
  height: 2rem;
  background-color: #f2f3f7;
  box-sizing: border-box;
  border: 0.1rem solid #f0c3b8;
  -webkit-border: 0.1rem solid #f0c3b8;
  -moz-border: 0.1rem solid #f0c3b8;
  -ms-border: 0.1rem solid #f0c3b8;
  -o-border: 0.1rem solid #f0c3b8;
  color: #b8b7b7;
  font-size: 0.9rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .header_wrap .searchbar_wrap input#searchbar {
    border: 0.05rem solid #f0c3b8;
  }
}
.header_wrap .searchbar_wrap input#searchbar:focus {
  background-color: #fff;
  color: #000;
}
.header_wrap .searchbar_wrap i.icon-search {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #cf9687;
  color: #f6d4bf;
  font-size: 1rem;
  text-align: center;
  line-height: 2em;
}

.main {
  display: grid;
  grid-template-columns: [c1] 5.6rem [c2] 69.9rem [c3];
  grid-column-gap: 1rem;
  grid-template-rows: repeat(1, 68.5rem);
  padding-bottom: 0.9rem;
}
.main .main_left nav .aside_list {
  display: grid;
  grid-row-gap: 0.5rem;
}
.main .main_left nav .aside_list li {
  width: 5.6rem;
  background-color: #e3b7a6;
}
.main .main_left nav .aside_list li a {
  color: #33211f;
}
.main .main_left nav .aside_list li.all_recipes,
.main .main_left nav .aside_list li.meal_type,
.main .main_left nav .aside_list li.ingredients,
.main .main_left nav .aside_list li.tags {
  height: 5.2rem;
}
.main .main_left nav .aside_list li.all_recipes a,
.main .main_left nav .aside_list li.meal_type a,
.main .main_left nav .aside_list li.ingredients a,
.main .main_left nav .aside_list li.tags a {
  display: block;
  height: inherit;
  text-align: center;
  font-size: 0.8rem;
  box-sizing: border-box;
  overflow: hidden;
}
.main .main_left nav .aside_list li.all_recipes a i,
.main .main_left nav .aside_list li.meal_type a i,
.main .main_left nav .aside_list li.ingredients a i,
.main .main_left nav .aside_list li.tags a i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem auto 0;
}
.main .main_left nav .aside_list li.all_recipes a span,
.main .main_left nav .aside_list li.meal_type a span,
.main .main_left nav .aside_list li.ingredients a span,
.main .main_left nav .aside_list li.tags a span {
  display: block;
  width: 3.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0.5rem auto 0;
}
.main .main_left nav .aside_list li.all_recipes.current_item,
.main .main_left nav .aside_list li.meal_type.current_item,
.main .main_left nav .aside_list li.ingredients.current_item,
.main .main_left nav .aside_list li.tags.current_item {
  background-color: #33211f;
}
.main .main_left nav .aside_list li.all_recipes.current_item a,
.main .main_left nav .aside_list li.meal_type.current_item a,
.main .main_left nav .aside_list li.ingredients.current_item a,
.main .main_left nav .aside_list li.tags.current_item a {
  color: #fff;
}
.main .main_left nav .aside_list li.other {
  height: 45.4rem;
}
.main .main_left nav .aside_list li.other .other_lis {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
}
.main .main_left nav .aside_list li.other .other_lis li a {
  display: block;
  width: 3rem;
  border: 0.15rem solid #674e47;
  -webkit-border: 0.15rem solid #674e47;
  -moz-border: 0.15rem solid #674e47;
  -ms-border: 0.15rem solid #674e47;
  -o-border: 0.15rem solid #674e47;
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: #674e47;
  padding: 0.2rem;
  margin: 0 auto;
}
.main .main_left nav .aside_list li.other .other_lis li a i {
  margin-top: 0;
}
.main .main_left nav .aside_list li.other .other_lis li:not(:last-of-type) {
  margin-bottom: 2rem;
}
.main .main_right {
  display: grid;
  grid-template-columns: [m_r_1] 23rem [m_r_2] 1fr [m_r_3] 23rem [m_r_4];
  grid-template-rows: repeat(6, 11rem);
  grid-template-areas: "a b c" "a content content" "a content content" "a content content" "a content content" "a e f";
  gap: 0.4rem 0.6rem;
}
.main .main_right div.items {
  display: flex;
}
.main .main_right div.items:nth-child(1) div.items_bg {
  background-image: url("../assets/images/food_01.jpg");
}
.main .main_right div.items:nth-child(2) div.items_bg {
  background-image: url("../assets/images/food_02.jpg");
}
.main .main_right div.items:nth-child(3) div.items_bg {
  background-image: url("../assets/images/food_03.jpg");
}
.main .main_right div.items:nth-child(4) div.items_bg {
  background-image: url("../assets/images/food_04.jpg");
}
.main .main_right div.items:nth-child(5) div.items_bg {
  background-image: url("../assets/images/food_05.jpg");
}
.main .main_right div.items:nth-child(6) div.items_bg {
  background-image: url("../assets/images/food_06.jpg");
}
.main .main_right div.items:nth-child(7) div.items_bg {
  background-image: url("../assets/images/food_07.jpg");
}
.main .main_right div.items:nth-child(8) div.items_bg {
  background-image: url("../assets/images/food_02.jpg");
}
.main .main_right div.items:nth-child(9) div.items_bg {
  background-image: url("../assets/images/food_05.jpg");
}
.main .main_right div.items:nth-child(10) div.items_bg {
  background-image: url("../assets/images/food_07.jpg");
}
.main .main_right div.items div.items_bg {
  width: 11.5rem;
  position: relative;
  background-position: 0 0;
  background-size: cover;
}
.main .main_right div.items div.items_bg:hover i {
  transform: rotate(540deg);
}
.main .main_right div.items i {
  position: absolute;
  top: 0.5rem;
  width: 2.4rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3), -0.1rem -0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  color: #9ac821;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.4rem;
  transition: all 0.3s;
}
.main .main_right div.items div.items_c {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 11.5rem;
  height: inherit;
  background-color: #fff;
  overflow: hidden;
}
.main .main_right div.items div.items_c a {
  color: #737373;
  font-size: 0.7rem;
}
.main .main_right div.items div.items_c p {
  font-size: 0.9rem;
  font-family: "CasperBoldItalic";
  color: #3e3e3e;
  margin-top: 0.8rem;
}
.main .main_right div.items div.items_c .items_c_b {
  padding-right: 1rem;
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  width: 100%;
  height: 1.6rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.6rem;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.main .main_right div.items div.items_c.items_c:hover .items_c_b {
  bottom: 0;
}
.main .main_right div.content {
  grid-area: content;
  overflow: hidden;
  height: 45.2rem;
}
.main .main_right div.content .main_part {
  height: 100%;
}
.main .main_right div.content .main_part .title_wrap {
  width: 100%;
  min-height: 3rem;
  line-height: 3rem;
  background: #fc4783;
  color: #fff;
  padding-left: 1.1rem;
  padding-right: 0.9rem;
  text-align: right;
}
.main .main_right div.content .main_part .title_wrap h2 {
  float: left;
  font-size: 1.2rem;
}
.main .main_right div.content .main_part .title_wrap a {
  padding: 0.2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.main .main_right div.content .main_part .layout_left {
  float: left;
  overflow: auto;
  width: 23.5rem;
  height: 42.2rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0 1rem;
}
.main .main_right div.content .main_part .layout_left .info {
  display: flex;
  align-items: center;
  color: #63413d;
  font-size: 0;
  line-height: 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #fc4783;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .main .main_right div.content .main_part .layout_left .info {
    border-bottom: 0.05rem solid #fc4783;
  }
}
.main .main_right div.content .main_part .layout_left .info i {
  margin-right: 0.4rem;
  color: #fc4783;
}
.main .main_right div.content .main_part .layout_left .info .serves i {
  font-size: 0.8rem;
}
.main .main_right div.content .main_part .layout_left .info .time {
  margin: 0 2.9rem 0 1.1rem;
}
.main .main_right div.content .main_part .layout_left .info .time i {
  font-size: 1rem;
}
.main .main_right div.content .main_part .layout_left .info .date i {
  font-size: 0.9rem;
}
.main .main_right div.content .main_part .layout_left h4 {
  margin-bottom: 1.2rem;
  color: #63413d;
  font-size: 0.9rem;
}
.main .main_right div.content .main_part .layout_left p {
  margin-bottom: 1.3rem;
  color: #1c1717;
  line-height: 1.1rem;
  font-size: 0.8rem;
}
.main .main_right div.content .main_part .layout_left span {
  font-size: 0.8rem;
}
.main .main_right div.content .main_part .layout_right {
  float: right;
  width: 23rem;
  height: 42.2rem;
  background-color: #ffefe9;
}
.main .main_right div.content .main_part .layout_right a {
  color: #32211f;
}
.main .main_right div.content .main_part .layout_right figure {
  margin: 0;
  width: 23rem;
  height: 22.1rem;
}
.main .main_right div.content .main_part .layout_right figure img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.main .main_right div.content .main_part .layout_right h4 {
  font-size: 0.9rem;
  color: #63413d;
  padding: 0.8rem 0rem 1rem;
}
.main .main_right div.content .main_part .layout_right .tap_view {
  padding: 0rem 1rem;
}
.main .main_right div.content .main_part .layout_right .tap_view ul {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0;
}
.main .main_right div.content .main_part .layout_right .tap_view ul li {
  text-align: center;
}
.main .main_right div.content .main_part .layout_right .tap_view i {
  display: block;
  font-size: 1.2rem;
  color: #fc4783;
  margin: 0.5rem 0;
}
.main .main_right div.content .main_part .layout_right .tap_view span {
  font-size: 0.8rem;
}
.main .main_right div.content .main_part .layout_right .tap_view .view_container {
  display: flex;
  flex-wrap: nowrap;
  width: 18rem;
  margin: 0 auto;
  overflow: hidden;
}
.main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap {
  padding-bottom: 2rem;
  position: relative;
  border-bottom: 0.1rem solid #edcdc4;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap {
    border-bottom: 0.05rem solid #edcdc4;
  }
}
.main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap .btn_wrap {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}
.main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap .btn_wrap .btn {
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #f0d3ca;
}
.main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap .btn_wrap .btn:not(:last-of-type) {
  margin-right: 0.5rem;
}
.main .main_right div.content .main_part .layout_right .tap_view .crumpets_wrap .btn_wrap .btn.current_page {
  background-color: #d19a8c;
}
.main .main_right div.content .main_part .layout_right .tap_view .topping_wrap ul {
  width: 18rem;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
